<%- include('partials/header') %>


<body class="bg-light">
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        <div class="container py-2">
            <a class="navbar-brand" href="#">
                <img src="<%= logo %>" alt="" width="30" height="24"
                    class="d-inline-block align-text-top">
                <%= siteName %>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Setup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">

                <div class="my-5 p-4 bg-white shadow-sm">
                    <div class="col px-2">
                        <h3 class="mb-2 display-6">Welcome to <%= siteName %>!</h3>
                        <div class="text-muted display-8">Let's setup the application to Kickstart your blogging
                            adventure.</div>
                    </div>
                    <div id="stepperForm" class="bs-stepper mt-3 linear">
                        <div class="bs-stepper-header" role="tablist">
                            <div class="step active" data-target="#database-form">
                                <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger1"
                                    aria-controls="database-form" aria-selected="true">
                                    <span class="bs-stepper-circle">
                                        <span class="fas fa-database" aria-hidden="true"></span>
                                    </span>
                                    <span class="bs-stepper-label">Database</span>
                                </button>
                            </div>
                            <div class="bs-stepper-line"></div>
                            <div class="step" data-target="#admin-account-setup">
                                <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger2"
                                    aria-controls="admin-account-setup" aria-selected="false" disabled="disabled">
                                    <span class="bs-stepper-circle">
                                        <span class="fas fa-user" aria-hidden="true"></span>
                                    </span>
                                    <span class="bs-stepper-label d-lg-none d-sm-block">Admin</span>
                                    <span class="bs-stepper-label d-none d-lg-block">Administrator Account</span>
                                </button>
                            </div>
                            <div class="bs-stepper-line"></div>
                            <div class="step" data-target="#finish-installation-form">
                                <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger3"
                                    aria-controls="finish-installation-form" aria-selected="false" disabled="disabled">
                                    <span class="bs-stepper-circle">
                                        <span class="fas fa-check" aria-hidden="true"></span>
                                    </span>
                                    <span class="bs-stepper-label">Complete</span>
                                </button>
                            </div>
                        </div>
                        <div class="bs-stepper-content">
                            <form class="needs-validation" onsubmit="return false" novalidate="">
                                <%- include('partials/database'); -%>

                                <%- include('partials/admin_account'); -%>

                                <div id="finish-installation-form" role="tabpanel"
                                    class="bs-stepper-pane fade text-center dstepper-none"
                                    aria-labelledby="stepperFormTrigger3">
                                    <h6 class="text-muted my-2 mb-4">
                                        The configuration process is completed successfully.
                                        Please click the button below to finish the installation process
                                    </h6>
                                    <button id="finish-installation" class="btn btn-primary mt-2">Finish installation</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="/assets/setup.min.js"></script>

</body>

<%- include('partials/footer') %>