<div class="container">
    <div class="row py-5">
        <div class="col-12 d-flex mx-3 mb-3 justify-content-center">
            <a href="/categories" class="badge text-black badge-light border-0 bg-light"><i class="fa fa-binoculars me-2" aria-hidden="true"></i><%= translate('common:explore') %></a>
            <% if (categories.length) { %>
             <% categories.forEach(elem => { %>
                <%- include('/categories/partials/category_badge', {category: elem, active: category.cid == elem.cid}); -%>
             <% }) %>
            <% } %>
        </div>
        <div class="col-12 text-center">
            <h2 class="text-normal mb-0" style="font-size: var(--font-size-36);">
                <%= category.name %>
            </h2>
        </div>

        <div class="col-12 text-black justify-content-center d-flex my-3">
            <%= translate('common:category') %>
            <span class="dot-separator mx-2"></span>
            <%= category.posts %> <%= translate('common:posts') %>
            <span class="dot-separator mx-2"></span>
            <%= category.tags ?? 0 %> <%= translate('common:tags') %>
            <span class="dot-separator mx-2"></span>
            <%= category.followers ?? 0 %> <%= translate('common:followers') %>
        </div>
        <div class="col-12 d-flex justify-content-center text-black">
            <button class="btn btn-primary button btn-sm follow"><%= translate('common:follow') %></button>
        </div>
    </div>
    <div class="posts-wrapper row mt-4 pb-0 posts-container">

    <% if (posts.length) { %>
        <% posts.forEach(post => { %>
            <%- include('/partials/post', {post: post}); -%>
        <% }) %>
    <% } else { %>
        <%- include('/partials/no_content', {contentType: 'Post', section: 'category'}); -%>
    <% } %>

    </div>

    <% if (_application.authenticated) { %>
        <%- include('/blog/partials/create_post_modal'); -%>
    
        <div class="row mx-0 justify-content-end">
            <button type="submit" class="btn float-right-btn btn-rounded btn-dark py-2" data-bs-toggle="modal" data-bs-target="#create-post-dialog">
              <i class="fa fa-plus mt-1" aria-hidden="true"></i>
            </button>
        </div>
     
    <% } %>
</div>