

<!-- sidebar menus -->

<% try { %>

    <% if (sidebar && Object.keys(sidebar).length) { %>

          <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar">
            <ul class="sidebar-nav" id="sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link <% if (!sidebar.isDashboard) { %> collapsed <% } %>" href="/admin">
                      <i class="bi bi-grid"></i>
                      <span>Dashboard</span>
                    </a>
                  </li>

        <!-- Parent menu -->
        <% Object.keys(sidebar).forEach(function(menuItem, index) { %>

            <% if (sidebar[menuItem] && sidebar[menuItem] && sidebar[menuItem].data) { %>
                
                <li class="nav-item">
                    <a class="nav-link <% if (!sidebar[menuItem].classes) { %> collapsed <% } %>" data-bs-target="#<%= menuItem %>-<%= index + 1 %>" data-bs-toggle="collapse" href="#">
                      <i class="<%= sidebar[menuItem].icon %>"></i>
                      <span><%= menuItem %></span>
                      <i class="bi bi-chevron-down ms-auto"></i>
                    </a>

                    <ul id="<%= menuItem %>-<%= index + 1 %>" class="nav-content collapse <%= sidebar[menuItem].classes %>" data-bs-parent="#sidebar-nav">
                    
                        <% sidebar[menuItem].data.forEach(function(menu) { %>
                        
                        <% if (menu.child && menu.child.length) { %>
                            
                            
                        <% } else { %>

                            <li>
                                <a href="<%= menu.url %>" class="<%= menu.classes.trim() %>">
                                    <i class="<%= menu.icon %>" style="font-size: 16px;" ></i>
                                    <span><%= menu.title %></span>
                                </a>
                            </li>

                        <% } %>

                        
                        <% }); %>
                    </ul>
                </li>
                
            <% } %>

        <% }); %>

        </ul>
    </aside>
    <!-- End Sidebar-->

        <% } %>
    <% } catch (err) { %>
<% } %>
