<div class="card-body px-4">
    <form id="password-change-form">
        <div class="form-group my-1">
            <label class="d-block"><%= translate('user:change_password') %></label>
            <input required type="password" name="oldPassword" class="form-control my-3" placeholder="<%= translate('user:enter_your_old_password') %>">

            <input required type="password" id="new-password" name="password" class="form-control my-3" placeholder="<%= translate('user:new_password') %>">
            <div id="password-status" class="show-input-status text-danger"></div>
            <div id="password-strength-text" class="show-input-status" style="color: #626262; display: none;"></div>

            <input required type="text" name="confirmPassword" class="form-control mt-3" placeholder="<%= translate('user:confirm_new_password') %>">
            <div id="confirm-status" class="show-input-status text-danger"></div>
        </div>

        <div class="form-group mt-4">
            <button type="submit" style="min-width: 155px;" class="btn btn-dark"><%= translate('user:change_password_button') %></button>
        </div>
    </form>
</div>
