<div class="col-md-12 mb-4">
    <div class="card rounded">
        <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <img class="img-xs rounded-circle" onerror="core.imageOnError(this)"
                        src="<%= post.author?.picture %>" alt>
                    <div class="ms-2">
                        <p class="mb-1 font-heading-5"><%= post.author?.fullname || post.author?.username %></p>
                        <p class="tx-11 text-muted mb-0 font-small"><%= post.timeAgo %></p>
                    </div>
                </div>
                <%- include('/users/partials/dropdown', {post: post}); -%>
            </div>
        </div>
        <div class="card-body">
            <h6 class="font-heading-6">
                <%= post.title %>
            </h6>
            <p class="mb-3 tx-14 text-ellipse-2"><%= post.blurb %></p>
            <% if (post.featuredImage && post.featuredImage.length) { %>
                <div class="post-image-wrapper">
                    <img class="img-fluid" onerror="core.imageOnError(this)" src="<%= post.featuredImage %>" alt>
                </div>
            <% } %>
        </div>
        <div class="card-footer">
            <div class="d-flex post-actions">
                <a href="javascript:;" class="d-flex text-decoration-none align-items-center text-muted me-4">
                    <i class="fa-regular fa-heart"></i>
                    <p class="d-none d-md-block m-0 ms-2"><%= translate('common:like') %></p>
                </a>
                <a href="javascript:;" class="d-flex text-decoration-none align-items-center text-muted me-4">
                    <i class="fa-regular fa-comment"></i>
                    <p class="d-none d-md-block m-0 mx-2"><%= translate('common:comment') %></p>
                </a>
                <a href="javascript:;" class="d-flex text-decoration-none align-items-center text-muted">
                    <i class="fa-regular fa-share-from-square"></i>
                    <p class="d-none d-md-block m-0 ms-2"><%= translate('common:share') %></p>
                </a>
            </div>
        </div>
    </div>
</div>