<div class="card-body px-4">
    <form id="profile-update-form">
        <div class="form-group my-2">
            <label for="fullName"><%= translate('user:full_name') %></label>
            <input type="text" class="form-control" id="fullName" aria-describedby="fullNameHelp"
                name="fullname" placeholder="<%= translate('user:enter_your_fullname') %>" value="<%= profile.fullname %>">
            <small id="fullNameHelp" class="form-text text-muted"><%= translate('user:name_appearance_note') %></small>
        </div>
        <div class="form-group my-2">
            <label for="about"><%= translate('user:about_you') %></label>
            <input type="text" name="about" value="<%= profile.about %>" class="form-control autosize" id="about" placeholder="<%= translate('user:what_do_you_do') %>">
        </div>
        <div class="form-group my-2">
            <label for="bio"><%= translate('user:your_bio') %></label>
            <textarea type="text" name="bio" class="form-control autosize" id="bio" placeholder="<%= translate('user:write_about_you') %>"
                style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 62px;"><%= profile.bio %></textarea>
        </div>
        <div class="form-group my-2">
            <label for="url"><%= translate('user:url') %></label>
            <input name="website" type="text" class="form-control" id="url" placeholder="<%= translate('user:website_address') %>"
                value="<%= profile.website %>">
        </div>
        <div class="form-group my-2">
            <label for="location"><%= translate('user:location') %></label>
            <input name="location" type="text" class="form-control" id="location" placeholder="<%= translate('user:enter_location') %>"
                value="<%= profile.location %>">
        </div>
        <div class="form-group my-2 small text-muted">
            <%= translate('user:optional_fields_note') %>
        </div>
        <div class="form-group mt-4">
            <button type="submit" class="btn btn-dark"><%= translate('user:update_profile') %></button>
            <button type="reset" class="btn btn-light"><%= translate('user:reset_changes') %></button>
        </div>
    </form>
</div>
