<div class="row gutters-sm">
    <div class="col-md-8 col-lg-8">
        <div class="card mb-3">
            <h5 class="p-3 card-header">Category info</h5>
            <div class="card-body">

                <form class="" id="category-form">
                    <div class="mb-3 form-floating">
                        <input type="text" name="name" value="<%= category.name %>" class="form-control" id="nameInout"
                            placeholder="Enter the name of the new category">
                        <label for="nameInout" class="form-label">Category name</label>
                        <div id="" class="form-text">You can choose a unique name for this category
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="decriptionTextarea" class="form-label">Category description</label>
                        <textarea class="form-control" name="description" rows="4" id="decriptionTextarea"><%= category.description %></textarea>
                        <div id="" class="form-text">You can add a description of the category of about
                            50
                            words.
                        </div>
                    </div>

                    <div class="row justify-content-between">
                        <div class="form-floating col-12 col-md-6 mb-3">
                            <input type="text" name="tagsPerPost[min]" value="<%= category.tagsPerPost?.min %>" placeholder="Enter a number" class="form-control"
                                id="minTags">
                            <label for="minTags" style="left: unset;" class="form-label">Minimum tags
                                per
                                post</label>
                            <div id="" class="form-text">Minumum tags required to create a post
                            </div>
                        </div>
                        <div class="form-floating col-12 col-md-6 mb-3">
                            <input type="text" name="tagsPerPost[max]" value="<%= category.tagsPerPost?.max %>" placeholder="Enter a number" class="form-control"
                                id="maxTags">
                            <label for="maxTags" style="left: unset;" class="form-label">Maximum tags
                                per
                                post</label>
                            <div id="" class="form-text">Limits a user to use only a limited number of
                                tags
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3 mt-2">
                        <label>Choose parent category (optional)</label>

                        <select class="form-control" id="tagsInput" multiple="multiple"></select>

                        <div id="" class="form-text">This tags will be visible to the users while they
                            create post in this category
                        </div>
                        
                    </div>

                    <div class="form-group mt-2">
                        <label>Choose parent category (optional)</label>
                        <select id="parent-cid-selection" tabindex="-1" class="form-control">
                            
                        </select>
                    </div>

                    <div class="row mx-0 justify-content-end">
                        <button type="submit" class="btn float-right-btn btn-primary py-2">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>


    <div class="col-md-4 col-lg-4 mb-3">
        <div class="card">
            <h5 class="p-3 card-header">Category picture</h5>
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <div class="category-image-area">
                        <canvas id="category-icon" width="128" height="128" class="rounded-circle d-none"></canvas>
                        <img id="categoryimage" src="<%= category.thumb %>" accept="image/*" style="
                                height: 140px;
                                width: 140px;
                                object-fit: cover;
                                border-radius: 100%;" 
                            onerror="this.onerror=null;this.src='/images/default-image.jpeg';" />
                    </div>

                    <div class="mt-3 w-100">
                        <div class="row px-2 justify-content-center">
                            <button id="upload-category-image" class="btn btn-inverse-dark col-auto m-1 px-4">
                                <i class="fa fa-upload" aria-hidden="true"></i>
                                Upload
                            </button>

                            <input type="file" class="d-none" id="category-image">

                            <button class="btn btn-danger col-auto m-1 px-4">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                                Remove
                            </button>
                        </div>

                        <form class="my-2 mt-3">
                            <div class="mb-3">
                                <label for="nameInout" class="form-label w-100 text-start">Image
                                    text</label>
                                <input type="text" name="altThumb" value="<%= category.altThumb %>" class="form-control" id="nameInout"
                                    placeholder="Alt text for image">
                                <div id="" class="form-text text-start">Displayed when the image fails
                                    to load</div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-3">
            <h5 class="p-3 card-header">Manage category</h5>
            <ul class="list-group-flush px-0">
                <li class="list-group-item my-3 d-flex justify-content-center align-items-center flex-wrap">
                    <button class="btn btn-inverse-dark shadow-sm py-2 w-75">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        View as visitor
                    </button>
                </li>

                <li class="list-group-item my-3 d-flex justify-content-center align-items-center flex-wrap">
                    <button class="btn btn-inverse-dark shadow-sm py-2 w-75">
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                        Edit permissions
                    </button>
                </li>

                <li class="list-group-item my-3 d-flex justify-content-center align-items-center flex-wrap">
                    <button class="btn btn-inverse-dark shadow-sm py-2 w-75">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        Lock category
                    </button>
                </li>

                <li class="list-group-item my-3 d-flex justify-content-center align-items-center flex-wrap">
                    <button id="delete-category" class="btn btn-danger shadow-sm py-2 w-75">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        Delete category
                    </button>
                </li>

            </ul>
        </div>
    </div>
</div>