 <style>
.select2-container {
    width: 100% !important;
    padding: 0;
}
 </style>
 <div class="justify-content-center pb-4">
  
   <form class="row" id="category-search-form">
     <div class="form-group col-12 col-sm-6">
       <div class="input-group justify-content-start">
         <input type="text" value="<% if (search && search.length) { %><%= search %><% } %>" name="search" class="form-control" placeholder="Search categories">
         <div class="input-group-append">
           <button type="submit" class="btn btn-sm btn-primary" type="button">Search</button>
         </div>
       </div>
     </div>

     <div class="form-group col-12 col-sm-6">
       <div class="input-group h-100 justify-content-end">
         <div class="input-group-prepend">
           <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" style="min-width: 140px;"
             aria-haspopup="true" aria-expanded="false"><% if (sorting && sorting.id && sorting.id != 'default') { %> <%= sorting.label %> <% } else { %> Sort categories<% } %></button>
           <div class="dropdown-menu" x-placement="top-start"
             style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -2px, 0px);">
             <a class="dropdown-item" href="?sortBy=recent<% if (search && search.length) { %>&search=<%= search %><% } %>">Most recent</a>
             <a class="dropdown-item" href="?sortBy=oldest<% if (search && search.length) { %>&search=<%= search %><% } %>">Oldest</a>
             <a class="dropdown-item" href="?sortBy=popular<% if (search && search.length) { %>&search=<%= search %><% } %>">Popularity</a>
             <a class="dropdown-item" href="?sortBy=posts<% if (search && search.length) { %>&search=<%= search %><% } %>">More posts</a>
             <div role="separator" class="dropdown-divider"></div>
             <a class="dropdown-item" href="?sortBy=default<% if (search && search.length) { %>&search=<%= search %><% } %>">Default</a>
           </div>
         </div>
       </div>
     </div>
   </form>

   <div class="row">
     <div class="col-12">
       <% if (categories && categories.length) { %>
       <div class="list-group">

         <% categories.forEach(function(category) { %>
            <div class="list-group-item border-0 justify-content-between list-group-item-action cursor-pointer d-inline-flex bg-transparent" <% if (category.subCategories && category.subCategories.length) { %> data-has-child="true" <% } %>>
              <button data-bs-target="#category-<%= category.cid %>" data-bs-toggle="collapse" 
                class="w-90 h-100 border-0 bg-transparent text-left d-flex">

                  <i class="fa fa-chevron-right me-3 my-auto" aria-hidden="true"></i>
                  <% if (category.thumb) { %>
                    <img src="<%= category.thumb %>" onerror="core.imageOnError(this)" alt="" class="user-img-sm my-auto">
                  
                  <% } else { %>
                      <canvas height="36" width="36" style="border-radius: 36px;" id="cat-<%= category.cid %>" data-category-name="<%= category.name %>"></canvas>
                  <% } %>
                  <a class="ps-3 my-auto w-100 text-ellipse-2" href="/admin/categories/<%= category.slug %>">
                    <h5 class="my-auto" style="line-height: normal;"><%= category.name %></h5>
                  </a>
                
              </button>

              <span class="my-auto badge shadow-sm badge-light me-1">...</span>
             
            </div>

            <% if (category.subCategories && category.subCategories.length) { %>
          
              <div class="list-group ps-5 collapse" id="category-<%= category.cid %>">
  
                <% category.subCategories.forEach(function(subCategory) { %>

                  <div class="list-group-item justify-content-between list-group-item-action cursor-pointer bg-transparent border-0 d-inline-flex" <% if (subCategory.subCategories && subCategory.subCategories.length) { %> data-has-child="true" <% } %>>
                    <button data-bs-target="#subCategory-<%= subCategory.cid %>" class="w-90 h-100 border-0 bg-transparent text-left d-flex ">
                     
                        <% if (subCategory.thumb) { %>
                          <img src="<%= subCategory.thumb %>" onerror="core.imageOnError(this)" alt="" class="user-img-sm my-auto">
                        
                        <% } else { %>
                            <canvas height="36" width="36" style="border-radius: 36px;" id="cat-<%= subCategory.cid %>" data-category-name="<%= subCategory.name %>"></canvas>
                        <% } %> 
                        
                        <a class="ps-3 w-100 text-ellipse-2" href="/admin/categories/<%= subCategory.slug %>">
                          <h5 class="my-auto" style="line-height: normal;"><%= subCategory.name %></h5>
                        </a>

                    </button>

                    <span class="my-auto badge shadow-sm badge-light me-1">...</span>

                  </div>
                <% }); %>
              
              </div>

           <% } %>

         <% }); %>

       </div>
       <% } %>
     </div>
   </div>

   <%- include('/admin/categories/partials/new_category_modal'); -%>

   <div class="row mx-0 justify-content-end">
     <button type="submit" class="btn float-right-btn btn-primary py-2" data-bs-toggle="modal" data-bs-target="#new-category-modal">
       <i class="fa fa-plus" aria-hidden="true"></i>
     </button>
   </div>

 </div>