<div class="container pt-5">
    <div class="consent border p-3">
        <div>
            <h4 class="font-weight-normal text-normal"><%= translate('consent:data_processing_notice') %></h4>
        </div>
        
        <div class="">
            <p><%= translate('consent:collect_information') %></p>
            <ul>
                <li><%= translate('consent:name_username_email') %></li>
                <li><%= translate('consent:profile_information') %></li>
                <li><%= translate('consent:posts_comments_content') %></li>
            </ul>
            <p><%= translate('consent:visit_privacy_policy') %> <a href="#"><%= translate('consent:privacy_policy') %></a></p>
            <p>
                <%= translate('consent:data_utilization_description') %>
            </p>
            <p>
                <%= translate('consent:data_retention_rights') %>
            </p>
        </div>
        
        <div class="">
            <b><%= translate('consent:data_security_emails') %></b>
            <p><%= translate('consent:data_security_description') %></p>
            <p>
                <%= translate('consent:email_notifications_description') %>
            </p>
        </div>
        
        <div class="">
            <b><%= translate('consent:contact_us') %></b>
            <p><%= translate('consent:contact_us_email') %></p>
        </div>
        
        <form id="consent-form">
            <div class="form-check">
                <input required class="form-check-input" name="data" type="checkbox" value="" id="agree-data-consent">
                <label class="form-check-label" for="agree-data-consent">
                    <%= translate('consent:consent_data_processing') %>
                </label>
              </div>
              <div class="form-check">
                <input required class="form-check-input" name="emails" type="checkbox" value="" id="agree-email-consent">
                <label class="form-check-label" for="agree-email-consent">
                    <%= translate('consent:consent_email_notifications') %>
                </label>
              </div>

              <div class="form-group mt-3">
                <div class="w-auto">
                    <button type="submit" class="btn btn-dark border-0 px-3 me-2"><%= translate('consent:accept_consent') %></button>
                    <button type="button" id="skip-consent" class="btn button-outlined"><%= translate('consent:remind_me_later') %></button>
                </div>
            </div>
        </form>

    </div>
    
</div>
