<div class="signin-page align-items-center">
    <main class="main">
        <div class="container">
            <section class="col-12 col-md-7 col-lg-5 mt-0 wrapper">
                <div class="heading">
                    <h1 class="text text-large"><%= translate('common:password_reset') %></h1>
                    <p class="text text-normal">
                        <%= translate('common:forgot_password_description') %>
                    </p>
                </div>
                <form id="reset-password-form" method="post" action="/password/reset" class="form">
                    <div class="input-control">
                        <label for="emailId" class="input-label"><%= translate('common:email_address') %></label>
                        <input name="email" type="email" required id="emailId" class="input-field" placeholder="<%= translate('common:enter_registered_email') %>">
                    </div>
                    <button type="submit" class="input-submit mt-0 w-100 button-black"><%= translate('common:continue') %></button>
                </form>
            </section>
        </div>
    </main>
</div>
