<div class="signin-page align-items-center">
    <main class="main">
        <div class="container">
            <section class="col-12 col-md-7 col-lg-5 mt-0 wrapper">
                <div class="heading">
                    <h1 class="text text-large"><%= translate('common:set_password') %></h1>
                    <p class="text text-normal">
                        <%= translate('common:set_password_description') %>
                    </p>
                </div>
                <form id="set-password-form" class="form">
                    <div class="input-control">
                        <label for="new-password" class="input-label"><%= translate('common:password') %></label>
                        <input name="password" type="password" required id="new-password" class="input-field" placeholder="<%= translate('common:enter_new_password') %>">
                        <div id="password-status" class="show-input-status text-danger"></div>
                        <div id="password-strength-text" class="show-input-status" style="color: #626262; display: none;"></div>
                    </div>
                    <div class="input-control">
                        <label for="confirm-password" class="input-label"><%= translate('common:confirm_new_password') %></label>
                        <input name="confirmPassword" type="text" required id="confirm-password" class="input-field" placeholder="<%= translate('common:confirm_password') %>">
                        <div id="confirm-status" class="show-input-status text-danger"></div>
                    </div>
                    <button type="submit" id="reset-password" class="input-submit mt-4 w-100 button-black"><%= translate('common:reset_password') %></button>
                </form>
            </section>
        </div>
    </main>
</div>