<div class="card">
    <div class="card-body">
        <h5 class="card-title">SMTP settings</h5>

        <form id="email-smtp-settings" class="row g-3">
            <div class="col-12 form-group mb-3">
                <label>Select email service</label>
                <select required name="emailService" id="service-selection" class="form-select mt-2" placeholder="Select...">
                    <% if (!data.emailService) { %>
                        <option selected value="">Select</option>
                    <% } else { %>
                        <option value="">Select</option>
                    <% } %>

                    <option value=""></option>
                    
                    <% if (emailServices && emailServices.length) { %>
                        <% emailServices.forEach(element => { %>
                            <option <% if (data.emailService == element) { %> selected <% } %> value="<%= element %>"><%= element %></option>
                        <% }) %>
                    <% } %>

                    <option <% if (data.emailService == 'custom') { %> selected <% } %> value="custom" class="font-weight-bold">Custom service</option>
                </select>
            </div>
            <div class="row g-2 mx-0" id="default-auth">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="emailServiceUsername" value="<%= data.emailServiceUsername %>" class="form-control"
                            id="emailServiceUsername" placeholder="">
                        <label for="emailServiceUsername">Username</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input name="emailServicePassword" value="<%= data.emailServicePassword %>" class="form-control"
                            id="emailServicePassword" placeholder="Password or API Key">
                        <label for="emailServicePassword">Password or API Key</label>
                    </div>
                </div>
            </div>
            <div id="" class="form-text">
                You can use your API key like a password when setting up the SMTP relay for your email service provider. 
                Do read the SMTP relay configuration documentation provided by your provider before proceeding.
            </div>
            <div class="col-md-12 mt-4">
                <div class="form-check form-switch px-0 d-flex">
                    <div class="">
                        <input id="emailServicePooling" name="emailServicePooling" class="form-check-input me-3 position-relative switch-lg" <%= data.emailServicePooling ? 'checked=""' : '' %>" type="checkbox" role="switch">
                    </div>
                    <div class="">
                        <label for="emailServicePooling" class="font-weight-semibold" style="width: calc(100% - 4rem);" for="">Allow SMTP Pooling</label>
                        <div class="form-text mt-2">
                            <span class="text-danger">Note: </span>
                            This feature will allow for the management of multiple connections to an SMTP server. Instead of creating a new connection every time an email needs to be sent, SMTP pooling creates a pool of reusable connections.
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>