
<div id="posts" class="container">
    <div class="row pt-5 pb-3">
        <div class="blog-banner position-relative p-5">
            <div class="image"></div>
            <h2 class="text-capitalize text-white">Explore Blogs & Articles</h2>
            <p class="text-normal text-white mt-5" style="font-size: var(--font-size-20); font-weight: 500;">
                Diversity to the forefront, ensuring you're not alone whether it's leadership, life, or everything in between.
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 col-md-8">
            
            <p class="sup-header">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt perspiciatis ex
                ipsam
                similique blanditiis. Culpa hic quia, repellendus corrupti </p>
            <div class="posts-wrapper posts-container">

                <% posts.forEach(post => { %>
                    <div class="post-item bg-light p-3">
                        <% if (post.featuredImage) { %>
                            <img src="<%= post.featuredImage %>" class="card-img" alt="...">
                        <% } %>
                        <div class="post-meta text-normal">
                            <span><i class="far fa-user"></i> Posted by <%= post?.user.fullname || post?.user.username %></span><span><i class="far fa-calendar"></i>
                                <%= post.createdAt %>
                            </span>
                        </div>
                        <a href="/posts/<%= post.slug %>" class="post-title text-normal"><%= post.title %></a>
                        <p class="post-content text-ellipse-4"><%= post.blurb %></p>
                        <div class="post-meta d-flex justify-content-between">
                            <div>
                                <span><i class="fa fa-thumbs-o-up me-1"></i><%= post.likes %></span>
                                <span><i class="fa fa-comment-alt me-1"></i><%= post.comments %></span>
                                <span><i class="fa fa-eye me-1"></i><%= post.views %></span>
                            </div>
                            <div>
                                <a href="/posts/<%= post.slug %>" class="read-more">Read more</a>
                            </div>
                        </div>
                    </div>
                <% }) %>

            </div>
        </div>

        <div class="sidebar pt-4 col-md-4">
            <form class="input-group">
                <div class="form-outline">
                    <input id="search-input" type="search" name="search" class="form-control" placeholder="search" />
                </div>
                <button id="search-button" type="submit" class="btn dark search-button">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <div class="recent-posts pt-5">
                <h4 class="mb-4 border-bottom pb-3">Posts you might like</h4>
                <div class="post-item">
                    <a href="simple-post.html" class="post-title">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</a>
                    <div class="post-meta">
                        <span><i class="far fa-user"></i> Posted by someone</span><span><i class="far fa-calendar"></i>
                            30 07
                            2021</span><span><i class="far fa-comment-alt"></i> 0 comments</span>
                    </div>
                    <p class="post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
                        perspiciatis
                        ex ipsam similique blanditiis. Culpa hic quia...</p>
                </div>
                <div class="post-item">
                    <a href="simple-post.html" class="post-title">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</a>
                    <div class="post-meta">
                        <span><i class="far fa-user"></i> Posted by someone</span><span><i class="far fa-calendar"></i>
                            30 07
                            2021</span><span><i class="far fa-comment-alt"></i> 0 comments</span>
                    </div>
                    <p class="post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
                        perspiciatis
                        ex ipsam similique blanditiis. Culpa hic quia...</p>
                </div>
                <div class="post-item">
                    <a href="simple-post.html" class="post-title">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.</a>
                    <div class="post-meta">
                        <span><i class="far fa-user"></i> Posted by someone</span><span><i class="far fa-calendar"></i>
                            30 07
                            2021</span><span><i class="far fa-comment-alt"></i> 0 comments</span>
                    </div>
                    <p class="post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
                        perspiciatis
                        ex ipsam similique blanditiis. Culpa hic quia...</p>
                </div>

                <div class="categories pt-5">
                    <h4 class="mb-4 border-bottom pb-3">Categories</h4>
                    <ul class="list-group">
                        <li class="d-flex align-items-center">
                            <a href="" class="category-item">Awesome Layouts</a>
                            <span class="badge mx-3 bg-dark badge-primary badge-pill">14</span>
                        </li>
                        <li class="d-flex align-items-center">
                            <a href="" class="category-item">HTML5 / CSS3 Templates</a>
                            <span class="badge mx-3 bg-dark badge-primary badge-pill">2</span>
                        </li>
                        <li class="d-flex align-items-center">
                            <a href="" class="category-item">Creative & Unique</a>
                            <span class="badge mx-3 bg-dark badge-primary badge-pill">1</span>
                        </li>
                    </ul>
                </div>

                <div class="tags pt-5">
                    <h4 class="mb-4 border-bottom pb-3">Tag clouds</h4>
                    <a href="#" class="badge text-black badge-light">Primary</a>
                    <a href="#" class="badge text-black badge-light">Secondary</a>
                    <a href="#" class="badge text-black badge-light">Success</a>
                    <a href="#" class="badge text-black badge-light">Danger</a>
                    <a href="#" class="badge text-black badge-light">Warning</a>
                    <a href="#" class="badge text-black badge-light">Info</a>
                    <a href="#" class="badge text-black badge-light">Light</a>
                </div>

            </div>
        </div>
    </div>
</div>
<% if (_application.authenticated) { %>
    <%- include('/blog/partials/create_post_modal'); -%>

    <div class="row mx-0 justify-content-end">
        <button type="submit" class="btn float-right-btn btn-dark py-2" data-bs-toggle="modal" data-bs-target="#create-post-dialog">
          <i class="fa fa-plus mt-1" aria-hidden="true"></i>
        </button>
    </div>
 
<% } %>