
<div id="posts" class="container">
    <div class="row pt-5 pb-3">
        <div class="blog-banner position-relative p-5">
            <div class="image"></div>
            <h2 class="text-capitalize text-white">Explore Blogs & Articles</h2>
            <p class="text-normal text-white mt-5" style="font-size: var(--font-size-20); font-weight: 500;">
                Diversity to the forefront, ensuring you're not alone whether it's leadership, life, or everything in between.
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 col-md-8">
            
            <p class="sup-header">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt perspiciatis ex
                ipsam
                similique blanditiis. Culpa hic quia, repellendus corrupti </p>
            <div class="posts-wrapper pb-0 posts-container">

                <% posts.forEach(post => { %>
                    <div class="post-item bg-light p-3">
                        <% if (post.featuredImage) { %>
                            <img src="<%= post.featuredImage %>" class="card-img" alt="...">
                        <% } %>
                        <div class="post-meta text-normal">
                            <span><i class="far fa-user"></i> Posted by <%= post?.author.fullname || post?.author.username %></span><span><i class="far fa-calendar"></i>
                                <%= post.createdAt %>
                            </span>
                        </div>
                        <a href="/posts/<%= post.slug %>" class="post-title text-normal"><%= post.title %></a>
                        <p class="post-content text-ellipse-4"><%= post.blurb %></p>
                        <div class="post-meta d-flex justify-content-between">
                            <div>
                                <span><i class="fa fa-thumbs-o-up me-2"></i><%= post.likes %></span>
                                <span><i class="fa fa-comment-alt me-2"></i><%= post.comments %></span>
                                <span><i class="fa fa-eye me-2"></i><%= post.views %></span>
                            </div>
                            <div>
                                <a href="/posts/<%= post.slug %>" class="read-more">Read more</a>
                            </div>
                        </div>
                    </div>
                <% }) %>

            </div>
            <div class="">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item me-3 shadow-sm">
                        <a class="page-link me-0 <% if (!Object.keys(pagination.navigation.previous).length) { %> disabled <% } %>" href="<%= pagination?.navigation?.previous?.url || '#' %>" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <% pagination.items.forEach(item => { %>
                        <li class="page-item mx-1 shadow-sm"><a class="page-link mx-0 <% if (item.isCurrent) { %> active <% } %>" <% if (item.url) { %> href="<%= item.url %>" <% } %> ><%= item.pageNumber %></a></li>
                      <% }) %>

                      <li class="ms-3 page-actions page-item shadow-sm">
                        <a class="page-link ms-0 <% if (!Object.keys(pagination.navigation.next).length) { %> disabled <% } %>" href="<%= pagination?.navigation?.next?.url || '#' %>" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
            </div>
        </div>

        <div class="sidebar pt-4 col-md-4">
            <form class="input-group">
                <div class="form-outline">
                    <input id="search-input" type="search" name="search" class="form-control" placeholder="search" />
                </div>
                <button id="search-button" type="submit" class="btn dark search-button">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            
            <div class="recent-posts pt-5">
                <% if (featured.length) { %>
                    <h4 class="mb-4 border-bottom pb-3">Posts you might like</h4>
                    <% featured.forEach(post => { %>
                        <div class="post-item">
                            <a href="/posts/<%= post.slug %>" class="post-title text-capitalize"><%= post.title %></a>
                            <div class="post-meta">
                                <span><i class="far fa-user"></i> Posted by <%= post.author?.fullname || post.author?.username %></span><span><i class="far fa-calendar"></i>
                                    <%= post.createdAt %>
                                </span><span><i class="far fa-comment-alt"></i> <%= post.comments %> comments</span>
                            </div>
                            <p class="post-content"><%= post.blurb %></p>
                        </div>
                    <% }) %>
                <% } %>
                
                <% if (categories.length) { %>
                    <div class="categories pt-5">
                        <h4 class="mb-4 border-bottom pb-3">Categories</h4>
                        <ul class="list-group">
                            <% categories.forEach(category => { %>
                                <li class="d-flex align-items-center">
                                    <a href="/categories/<%= category.slug %>" class="category-item"><%= category.name %></a>
                                    <span class="badge mx-3 bg-dark badge-primary badge-pill"><%= category.posts %></span>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                <% } %>
                

                <% if (tags.length) { %>
                    <div class="tags pt-5">
                        <h4 class="mb-4 border-bottom pb-3">Tag clouds</h4>
                        <% tags.forEach(tag => { %>
                            <a href="/tags/<%= tag.slug %>" class="badge text-black badge-light"><%= tag.name %></a>
                        <% }) %>
                    </div>
                <% } %>

            </div>
        </div>
    </div>
</div>
<% if (_application.authenticated) { %>
    <%- include('/blog/partials/create_post_modal'); -%>

    <div class="row mx-0 justify-content-end">
        <button type="submit" class="btn float-right-btn btn-dark py-2" data-bs-toggle="modal" data-bs-target="#create-post-dialog">
          <i class="fa fa-plus mt-1" aria-hidden="true"></i>
        </button>
    </div>
 
<% } %>