<div class="card">
    <div class="card-body">
        <h5 class="card-title">User Data</h5>

        <form id="data-settings" class="row g-3">
            <div class="col-12 col-md-6">
                <div class="form-floating">
                    <input type="number" name="maxAboutLength" value="<%= data.maxAboutLength %>" class="form-control" placeholder="">
                    <label>Maximum About length</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-floating">
                    <input type="number" name="minAboutLength" value="<%= data.minAboutLength %>" class="form-control" placeholder="">
                    <label>Minimum About length</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-floating">
                    <input type="number" name="maxBioLength" value="<%= data.maxBioLength %>" class="form-control" placeholder="">
                    <label>Maximum Bio length</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-floating">
                    <input type="number" name="minBioLength" value="<%= data.minBioLength %>" class="form-control" placeholder="">
                    <label>Minimum Bio length</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-floating">
                    <input type="number" name="maxLocationLength" value="<%= data.maxLocationLength %>" class="form-control" placeholder="">
                    <label>Maximum Location length</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-floating">
                    <input type="number" name="minLocationLength" value="<%= data.minLocationLength %>" class="form-control" placeholder="">
                    <label>Minimum Location length</label>
                </div>
            </div>

        </form>

    </div>
</div>