<header id="home">
    <nav id="#navbar" class="navbar shadow-bg navbar-expand-lg position-fixed top-0 w-100">
        <div class="container">
            <a class="navbar-brand" href="/">
                <!-- Logo comes here -->
                <img src="images/logo-blog.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <% navigation.forEach(item => { %>
                        <a class="nav-link <%= item.classes %> <% if (item.active) { %> active <% } %>" href="<%= item.url %>"><%= item.name %></a>
                    <% }) %>

                    <% if (_application && _application.isAdministrator ) { %>
                        <a class="nav-link" href="/admin"><%= translate('common:admin') %></a>
                    <% } %> 

                    <% if (!_application.authenticated) { %>
                        <a class="ms-4 px-3 my-auto btn-secondary py-1 btn" href="/signin"><%= translate('common:sign_in') %><i class="fa fa-sign-in ms-2" aria-hidden="true"></i></a>
                    <% } else { %>
                        <%- include('/partials/loggedin_usernav'); -%>
                    <% } %>
                    
                </div>
            </div>
        </div>
    </nav>
</header>