<section id="cta-section-home" class="cta-section-home">
    <div class="container">
      <div class="row">
        <div class="right col-md-6">
          <div class="text-right">
            <p><%= ctaSectionLeftHeader %></p>
          </div>
        </div>
        <div class="left col-md-6">
          <div class="text-left">
            <h2 class="underscore"><%= ctaSectionRightHeader %></h2>
            <p class="sup-header"><%= ctaSectionRightSubHeader %></p>
            <%- ctaSectionRightText %>
          </div>
          <a href="<%= ctaSectionRightButtonLink %>" class="main-button"><%= ctaSectionRightButton %></a>
        </div>
      </div>
    </div>
    <div class="black-div"></div>
  </section>