<div class="profile-page">
    <div class="row g-0">
        <div class="col-12">
            <div class="profile-header">
                <div class="cover position-relative">
                    <!-- <div class="gray-shade"></div> -->
                    <figure>
                        <img id="user-cover-image" data-onerror="https://bootdey.com/img/Content/bg1.jpg" onerror="imageOnError(this)"  src="<%= profile.cover %>" class="img-fluid"
                            alt="profile cover">
                        <form class="d-none" id="cover-image-form">
                            <input type="file" id="cover-image" name="cover" class="d-none">
                        </form>
                    </figure>
                
                    <div class="cover-body d-flex justify-content-between align-items-center">
                        <div class="d-flex">

                            <div id="change-cover-image" class="btn btn-sm cover-image-change-icon cursor-pointer">
                                <span class="material-symbols-outlined"> add_a_photo </span>
                                <span class="d-sm-none d-md-block ms-1">Change picture</span>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>

        <div class="row position-relative ms-0">
            <div class="d-flex position-absolute" style="top: -39px;">
                <div class="position-relative">
                    <img id="user-profile-image" class="profile-pic" data-onerror="" onerror="imageOnError(this)" src="<%= profile.picture %>"
                    alt="profile">
                    <form class="d-none" id="profile-image-form">
                        <input type="file" id="profile-image" name="picture" class="d-none">
                    </form>
                    <div id="change-profile-image" class="change-profile-image-icon-container cursor-pointer">
                        <span class="material-symbols-outlined text-white">
                        add_a_photo
                        </span>
                    </div>
                </div>
                <div class="mt-5 ms-2">
                    <div class="profile-name text-black"><%= profile.fullname || profile.username %></div>
                    <div class="username font-body">@<%= profile.username %></div>
                </div>
            </div>
        </div>
    </div>
<div class="row profile-edit-container common-styles-css g-0 px-2" style="padding-top: 7rem;">

    <%- include('/users/partials/navigation/desktop'); -%>

    <div class="col-md-8 col-lg-9 px-3">
        <div class="card border">
            <%- include('/users/partials/navigation/mobile'); -%>

            <div class="tab-content">
                <div class="tab-pane active" id="profile">

                    <div class="card-header">Your Profile Information</div>
                    <%- include('/users/partials/profile'); -%>

                </div>
                <div class="tab-pane" id="account">

                    <div class="card-header">Account Settings</div>
                    <%- include('/users/partials/account'); -%>
                    
                </div>
                <div class="tab-pane" id="passwords">

                    <div class="card-header">Password Settings</div>
                    <%- include('/users/partials/passwords'); -%>
                    
                </div>
                <div class="tab-pane" id="security">

                    <div class="card-header">Security Settings</div>
                    <%- include('/users/partials/security'); -%>
                    
                </div>
                <div class="tab-pane" id="notification">

                    <div class="card-header">Notification Settings</div>
                    <%- include('/users/partials/notifications'); -%>
                    
                </div>
            </div>
        </div>
    </div>
</div>