<div class="container py-5">
    <div class="row justify-content-center user-listing-container">
    
        <% if (users && users.length) { %>
            <% users.forEach(element => { %>
                <div class="card p-0 shadow border m-3">
                    <div class="user mt-2 mb-2 text-center">
                      <div class="profile d-flex justify-content-center w-100">
                        <img crossorigin="anonymous" data-onerror="/images/default-user.jpg" onerror="core.imageOnError(this)" src="<%= element.picture %>" class="rounded-circle" width="80">
                      </div>
                    </div>
    
                    <div class="mt- px-3 text-center position-relative  ">
                      <h6 class="mb-0 font-heading-5 user-name" style="text-transform: none;">
                        <%= element.fullname || element.username %>
                      </h6>
                      <span class="text-muted text-small text-ellipse-2 pt-1 px-2 mb-2">
                        <%= element.about %>
                      </span>

                      <div class="position-absolute w-100" style="top: 75px;left: 0;">
                        <div class="d-flex mt-2 justify-content-evenly">
                          <a href="/users/<%= element.username %>" class="btn btn-primary button-outlined w-100 mx-4 btn-sm">Visit Profile</a>
                        </div>
                        <div class="d-flex justify-content-between align-items-center my-2 px-4">
                          <div class="stats">
                            <div class="mb-0 text-black-50 font-heading-6">Followers</div>
                            <span class="font-small text-black-50"><%= element.followers %></span>
                          </div>
                          <div class="stats">
                            <div class="mb-0 text-black-50 font-heading-6">Posts</div>
                            <span class="font-small text-black-50"><%= element.posts %></span>
                          </div>
                        </div>
                      </div>
    
                    </div>
    
                   </div>
            <% }) %>
        <% } %>
    
    </div>
</div>